.navbar-brand{
  padding-left: 20px;
  padding-right: 10px;
}

.navbar-nav a{
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  -webkit-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}
.navbar-nav a:hover,a:focus{
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  color: white !important;
}
.nav-link
{
  margin-left:30px;
  margin-right:30px;
  margin-right: 0px;
  padding: 0px;
}

.img-container {
 margin-left:20px;
}
.img-container img{
  padding: 10px;
}
.img-container img:hover{
  opacity: 0.23;
}
.next:hover{
  opacity: 0.23;
}

@media screen and (max-width: 985px) {
  .img-container {
    float: right;
    position: relative;
    bottom: 270px;
    margin-bottom: -50px;
  }
  .nav-link {
    width: 20%;
  }
}
