body {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: #ED7D3A;
  border: 5px #ED7D3A solid;
}

main {
  height: 1400px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  float: left;
  position: relative;
  margin: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(190, 190, 190);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.658);
  background-color: rgb(255, 115, 0);

}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 81, 0); 
  cursor: pointer;
}