:root {
  --red: #EF2D56;
  --white: #ffffff;
  --orange: #ED7D3A;
  --black: #363527; 
  --poppins: "Poppins", sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}


#container {
  margin: 0 auto;
  height: 1700px;

  display: grid;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 5% 22% 22% 22% 22% 4%;
  grid-template-areas:
    "headline headline headline headline"
    "cont1 cont2 cont3 cont4"
    "cont5 cont6 cont7 cont8"
    "cont9 cont10 cont11 cont12"
    "cont13 cont14 cont15 cont16"
    "void void void more";
}

#breaking {
  display: flex;
  margin: 0.5em 0em;
  font-family: var(--poppins);
  justify-content:  space-evenly;

  color: white;
  grid-area: headline;
  background: var(--red);
  
}

/* More "button" and The breaking news "Button" */
.rectangle-button-one
{
  margin: 0.5em;
  flex-shrink: 4;
  color: var(--red);
  background: whitesmoke;
  border-radius: 3px;

  width: 12%;
  height: 70%;
}

.rectangle-button-one p
{
  padding: 0.8em;
  font-size: 1.4ch;
  text-align: center;
}


#breaking h5{padding: 1em 0em;}

/* CONTENTS*/
/* Cards */

.content {
  overflow: hidden;
  position: relative; /*Experimental*/
  word-wrap: break-word;
  font-family: var(--poppins);

  margin: 0.5rem;
  transition: 0.5s linear;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#container img {
  display: block;
  border-bottom: 3.2px solid var(--red);
}

.content:hover .hide-button {
  display: block;
}
.hide-button {
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 43%;

  cursor: pointer;
  transition: 0.5s;
  font-size: 0.8rem;
  border-radius: 1em;
  padding: 0.2em 0.7em;
  border: 1px solid black;
}

/* Animation for the hide button (Glowing) */
@keyframes hide {
  0% {
    color: white;
  }
  50% {
    color: #ed7d3a;
  }
  100% {
    color: white;
  }
}
.hide-button:hover {
  color: white;
  animation-name: hide;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  background-color: #363527;
  border: 1px solid white;
}

/* Title for the news */
.news-headline {
  font-size: 1.4ch;
  padding: 0.5em;

  margin: 0em 3em 0em 0.5em;
}

hr::after,
.time-by {
  font-size: 0.85em;
  font-family: var(--poppins);
}

/* Comments and author */
.time-by {
  top: 1.2em;
  position: relative;

  display: flex;
  justify-content: space-around;
}

.time-by :nth-child(2) {
  text-align: right;
}
.time-by :nth-child(2)::after {
  cursor: pointer;
  color: var(--red);
  content: "Comments";
}
/* Points */
hr {
  margin: 0.5em;
}
hr::after {
  content: "69 Points";
  text-align: right;

  position: absolute;
  right: 1em;
}

#container :nth-child(2) {
  grid-area: cont1;
}
#container :nth-child(3) {
  grid-area: cont2;
}
#container :nth-child(4) {
  grid-area: cont3;
}
#container :nth-child(5) {
  grid-area: cont4;
}
#container :nth-child(6) {
  grid-area: cont5;
}
#container :nth-child(7) {
  grid-area: cont6;
}
#container :nth-child(8) {
  grid-area: cont7;
}
#container :nth-child(9) {
  grid-area: cont8;
}
#container :nth-child(10) {
  grid-area: cont9;
}
#container :nth-child(11) {
  grid-area: cont10;
}
#container :nth-child(12) {
  grid-area: cont11;
}
#container :nth-child(13) {
  grid-area: cont12;
}
#container :nth-child(14) {
  grid-area: cont13;
}
#container :nth-child(15) {
  grid-area: cont14;
}
#container :nth-child(16) {
  grid-area: cont15;
}
#container :nth-child(17) {
  grid-area: cont16;
}

/* CONTENTS  */

/* More Button */

.rectangle-button-two
{
  position: relative;
  left: 48%;
  
  width: 50%;
  height: 60%;
  
  grid-area: more;  
  border-radius: 3px;
  color: var(--orange);
  background: whitesmoke;
  border: 2px solid var(--black);
  
}
.rectangle-button-two p
{
  font-size: 2.2ch;
  text-align: center;
  padding-top: 1px;
}









@media screen and (max-width: 1300px) {
  .time-by {
    position: relative;
    top: 0em;
    justify-content: space-around;
  }
  .time-by p {
    margin: 0 1em;
  }

  hr {
    margin: 1px !important;
  }
  .news-headline {
    font-size: 0.8em;
  }

  .rectangle-button-one p
  {
    padding: 1em 0;
    font-size: 1.3ch;
  }
  
  #breaking h5
  {
    font-size: 1.1em;
  }
  hr::after,.time-by {font-size: 1.3ch;}
}

@media screen and (max-width: 1024px) 
{
  hr::after,.time-by {font-size: 1.1ch;}
  .rectangle-button-one p
  {
    font-size: 1.2ch;
    margin: 0em 0.5em;
    padding: 0.5em;
  }
}
