body {
  margin: 0;
  padding: 0;
}

nav {
  height: 15vh;
  width: 100%;
  background-color: #ED7D3A;
}

main {
  height: 1200px;
  background-color: WHITE;
  /* background-color: #363527; */
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(190, 190, 190);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.658);
  background-color: rgb(255, 115, 0);

}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 81, 0);
  cursor: pointer;
}
