body {
  margin: 0;
  padding: 0;
}

nav {
  height: 80px;
  background-color: orange;
}

main {
  height: 1000px;
  background-color: rgb(39, 39, 39);
}

footer {
  height: 200px;
  background-color: #ff6600;
}

